.demo-box {
    margin: 100px auto;
}
  
.one {
    background: #311847;
    height: 50px;
}
  
.two {
    background: #EC4067;
    height: 50px;
}
  
.three {
    background: #A01A7D;
    height: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,600');
  
body {
    background: #f3f3f3;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
}
  
.demo-box {
    background: white;
    width: 80%;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
}